* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  box-sizing: border-box;
}

.image {
    background-image: url(Images/header_background_01.jpg);
    display: grid;
    grid-template-columns: 1fr;

}

.page_title {
	padding-top: 60px;
  padding-bottom: 60px;
	color: white;
	font-size: 40px;
	text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.search_bar {
  overflow: hidden;
  background-color: rgb(15, 15, 15);
}

.search_bar .search-container {
  float: right;
}

.search_bar input[type=text]{
  padding: 4px;
  margin-top: 4px;
  font-size: 16px;
  border: none;
  color: white;
}

.search_bar .search-container button {
  float: right;
  padding: 8px;
  margin-top: 0px;
  margin-right: 0px;
  background: rgb(139, 139, 139);
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}

.search_bar .search-container button:hover {
  background: #ccc;
}


body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial;
  }
  
  .tabs {
    overflow: hidden;
    background-color: black;
  }


  .tablinks {
    background-color: black;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 18px;
    width: 25%;
    height: 7%;
  }
  
  .tablinks:hover {
    color: rgb(9, 80, 101);
    font-size: 15pt;
    font-weight: bold;
    text-decoration: underline;
  }


  .tabcontent {
    color: white;
    padding: 20px 20px;
    height: 100%;
  }

  .tabs button.active {
    color: rgb(37, 150, 190);
    font-size: 16pt;
    font-weight: bold;
    text-decoration: underline;
  }
  
  #Home {
    background-color: black;
  }
  #All_Blogs {
    background-color: black;
  }
  #About_Me {
    background-color: black;
  }
  #Recommended_Resources {
    background-color: black;
  }

  article {
    display: grid;
    grid-template-columns: 1fr 0.5in [start] 10.5in [end] 0.5in 1fr;
    border: 2px white;
    border-style: solid;
    border-radius: 12px;
    padding: 12px 0px 12px 0px;
    margin-top: 20px;
    margin-bottom: 35px;
    margin-left: 10px;
    margin-right: 10px;
  }

  article * { grid-column: start / end; }

@media (max-width: 11.5in) {
  article { grid-template-columns: 1fr 5% [start] 90% [end] 5% 1fr;}
}



  .article_title {
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    padding-bottom: 12px;
  }